<div class="ask-survey">
  <nav>
    <div class="nav-wrapper">
      <a class="brand-logo"><img src="https://static.spiceworks.com/shared/extension/0000/0059/Survey%20Icon_large.png"></a>
      <a class="page-title"> HelpDesk Ticket #<%=@ticket_id%> Survey</a>
    </div>
  </nav>

  <h4>HelpDesk Ticket #<%=@ticket_id%> Survey</h4>
  <p class="instructions">
    Your organization is using this application to see how they did working on your ticket.
    <i class="material-icons tooltipped tiny" data-delay="40" data-tooltip="For more info, please talk with your IT team.">info_outline</i>
  </p>

  <%= form_tag survey_index_path, {id: "survey_form"} do %>
    <%= hidden_field_tag :site, @site.auid %>
    <%= hidden_field_tag :ticket_id, @ticket_id %>
    <%= hidden_field_tag :aid, @aid %>
    <p class="question">
      <%= sanitize(@question) %>
    </p>
    <p class="input-field">
      <input name="answer" type="radio" id="answer1" value="1"/>
      <label for="answer1"><%=@survey_answer1%></label>
    </p>
    <p class="input-field">
      <input name="answer" type="radio" id="answer2" value="2"/>
      <label for="answer2"><%=@survey_answer2%></label>
    </p>
    <p class="input-field">
      <input name="answer" type="radio" id="answer3" value="3"/>
      <label for="answer3"><%=@survey_answer3%></label>
    </p>
    <p class="input-field">
      <input name="answer" type="radio" id="answer4" value="4"/>
      <label for="answer4"><%=@survey_answer4%></label>
    </p>
    <p class="input-field">
      <i class="material-icons prefix">mode_edit</i>
      <textarea id="comment" name="comment" class="materialize-textarea"></textarea>
      <label for="comment">Optional Comment</label>
    </p>
    <p class="card-action">
      <button id="save_survey" class="btn waves-effect waves-light" type="submit" name="action">Submit Survey
        <i class="material-icons right">send</i>
      </button>
    </p>
  <% end %>

</div>
