<div class="fullpage">
  <h4>Survey All Closed Tickets</h4>
  <p class="instructions">
    Click below to send a satisfaction survey for tickets closed in the last week.
    <i class="material-icons tooltipped tiny" data-delay="40" data-tooltip="We survey your users by adding a public comment to each recently closed ticket with a link to our survey.">info_outline</i>
  </p>
  <button id="send_surveys" class="waves-effect waves-light btn">
    <i class="material-icons right">email</i> Send Surveys
  </button>

  <hr class="space-it"/>
  <h4>Surveyor Settings</h4>
  <ul class="collapsible popout" data-collapsible="accordion">
    <li class="survey-text">
      <div class="collapsible-header"><i class="material-icons">chat</i>Request message to users</div>
      <div class="collapsible-body">
        <p>Specify the text we should use to notify your users about the survey.  We'll append a link to the survey page at the end of your message.</p>
        <%= form_tag survey_text_path, {method: :put, remote: true, id: "survey_text_form"} do %>
          <%= hidden_field_tag :site, ''%>
          <div class="row">
            <p class="input-field col s12">
              <i class="material-icons prefix">mode_edit</i>
              <textarea id="survey_text" name="survey_text" class="materialize-textarea" placeholder="<%= @survey_text %>"><%= @survey_text %></textarea>
              <label for="survey_text">Survey Message</label>
            </p>
          </div>
          <p class="card-action">
            <button id="change_text" class="btn waves-effect waves-light" type="submit" name="action">Save
              <i class="material-icons right">send</i>
            </button>
          </p>
        <% end %>
      </div>
    </li>
    <li class="survey-question">
      <div class="collapsible-header"><i class="material-icons">list</i>Questionnaire</div>
      <div class="collapsible-body">
        <p>Specify the question and possible answers we ask your users in the survey.</p>
        <%= form_tag survey_question_path, {method: :put, remote: true, id: "survey_question_form"} do %>
          <%= hidden_field_tag :site, ''%>
          <div class="row">
            <p class="input-field col s12">
              <i class="material-icons prefix">mode_edit</i>
              <textarea id="survey_question" name="survey_question" class="materialize-textarea" placeholder="<%= @survey_question %>"><%= @survey_question %></textarea>
              <label class="active" for="survey_question">Survey Question</label>
            </p>
          </div>
          <div class="row">
            <p class="input-field col s6">
              <input id="survey_answer1" name="survey_answer1" type="text" value="<%= @survey_answer1 %>" placeholder="<%= @survey_answer1 %>">
              <label  class="active" for="survey_answer1">Answer 1</label>
            </p>
          </div>
          <div class="row">
            <p class="input-field col s6">
              <input id="survey_answer2" name="survey_answer2" type="text" value="<%= @survey_answer2 %>" placeholder="<%= @survey_answer2 %>">
              <label  class="active" for="survey_answer2">Answer 2</label>
            </p>
          </div>
          <div class="row">
            <p class="input-field col s6">
              <input id="survey_answer3"  name="survey_answer3" type="text" value="<%= @survey_answer3 %>" placeholder="<%= @survey_answer3 %>">
              <label for="survey_answer3" class="active">Answer 3</label>
            </p>
          </div>
          <div class="row">
            <p class="input-field col s6">
              <input id="survey_answer4" name="survey_answer4"type="text"  value="<%= @survey_answer4 %>" placeholder="<%= @survey_answer4 %>">
              <label for="survey_answer4" class="active">Answer 4</label>
            </p>
          </div>
          <div class="row">
            <p class="card-action col s6">
              <button id="change_question" class="btn waves-effect waves-light" type="submit" name="action">Save
                <i class="material-icons right">send</i>
              </button>
            </p>
          </div>
        <% end %>
      </div>
    </li>
    <li class="survey-history">
      <div class="collapsible-header"><i class="material-icons">done_all</i>Survey request history</div>
      <div class="collapsible-body">
        <%= render partial: 'home/survey_history' %>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">portable_wifi_off</i>"Do not survey" list</div>
      <div class="collapsible-body"><p>FEATURE COMING SOON.<br/>These people or tickets won't be surveyed.</p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">https</i>Reset Account</div>
      <div class="collapsible-body">
        <p>This will remove all the data from our system (questions, replies, stats, etc.) and restart you with a fresh account. </p>
        <%= form_tag reset_account_survey_index_path, {method: :put, remote: true, id: "reset_account_form"} do %>
          <%= hidden_field_tag :site, ''%>
          <div class="row">
            <p class="card-action col s6">
              <button data-target="confirm_modal" class="btn waves-effect waves-light modal-trigger" >Reset Account
                <i class="material-icons right">loop</i>
              </button>
              <div id="confirm_modal" class="modal">
                <div class="modal-content">
                  <h4><i class="material-icons left">loop</i> Reset Account</h4>
                  <p class="">Are you sure you want to reset your account?<br>This will remove all your data and <strong>cannot be undone.</strong></p>
                </div>
                <div class="modal-footer blue darken-4">
                  <a href="#!" id="reset_account" class="white-text modal-action modal-close waves-effect waves-green btn-flat">Reset</a>
                  <a href="#!" class="white-text modal-close waves-effect waves-green btn-flat">Cancel</a>
                </div>
              </div>
            </p>
          </div>
        <% end %>
      </div>
    </li>
  </ul>

  <hr class="space-it"/>

  <%= render partial: 'results'  %>
  <div class="survey-responses">
    <table class="bordered highlight">
      <thead>
        <tr>
          <td>Time</td>
          <td class="ticket-id">Ticket</td>
          <td>Response</td>
          <td>Comment</td>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

  <hr class="space-it"/>
  <div class="card blue darken-2 white-text">
    <div class="card-content">
      <span class="card-title">Surveyor Feedback</span>
      <p>We want to hear from you! Let us know what you think of our app and tell us what features you'd like to see added.</p>
    </div>
    <div class="card-action">
      <%= mail_to 'support@spiceworks.com', subject: 'Surveyor App Feedback', class: 'white-text' do %>
        <i class="material-icons">question_answer</i>Email Us
      <% end %>
      <a class="white-text" href="https://community.spiceworks.com/appcenter/app/extension_59" target="_blank"><i class="material-icons">grade</i>Write a Review</a>
    </div>
  </div>

</div>

<script type="text/javascript">
  Surveyor.ticketPlacement = false;
  $('document').ready(function(){
    $('.modal-trigger').leanModal();
    $('#reset_account').on('click', function(){
      $('#reset_account_form').submit();
    });
    $('#reset_account_form').on('ajax:success', function(){
      Materialize.toast('Account successfully reset.', 2000);
      setTimeout(function(){
        window.location.reload(true);
      }, 2000);
    }).on('ajax:error', function(){
      Materialize.toast('Error resetting, please try again in a few minutes.', 3000);
    });
  });
</script>
